[flake8]
ignore =
     # E501: disable checking line length in all *.py-files
    E501

exclude =
    .cache,
    .hg,
    docker,
    docs,
    **/migrations/**,

putty-ignore =
    */apps.py : F401 # disable checking unused imports in files */apps.py
    uworkflow/common/drf/registry.py : F401 # disable checking unused imports in file uworkflow/common/drf/registry.py
    */__init__.py : F401, E402 # disable checking unused imports in files */__init__.py
    */helper.py : F811 # disable checking redefinition of unused methods in files */helper.py
    uworkflow/conf/celery.py : E402 # disable checking "module level import not at top of file"
    uworkflow/conf/wsgi.py : E402 # disable checking "module level import not at top of file"