<div>
  <span>
    {% if page_obj.has_previous %}
      <a href="?page=1">first</a>
      {% if page_obj.number > 1 %}
      <a href="?page={{ page_obj.previous_page_number() }}">previous</a>
      {% endif %}
    {% endif %}

    <span>
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
      {% if page_obj.number < page_obj.paginator.num_pages %}
      <a href="?page={{ page_obj.next_page_number() }}">next</a>
      {% endif %}
      <a href="?page={{ page_obj.paginator.num_pages }}">last</a>
    {% endif %}
  </span>
</div>